#Create env Files with Sepcified Name at the Root of the Project and add the following content to it. You can change the values as per your requirements.

# POSTGRES ENVS
POSTGRES_PASSWORD=postgrespassword

#BACKEND ENVS
#Database Client
POSTGRES_URL=postgres://postgres:postgrespassword@localhost:5432/postgres?sslmode=disable
POSTGRES_PRISMA_URL=postgres://postgres:postgrespassword@localhost:5432/postgres?sslmode=disable
POSTGRES_URL_NON_POOLING=postgres://postgres:postgrespassword@localhost:5432/postgres?sslmode=disable
POSTGRES_USER=postgres
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=postgrespassword
POSTGRES_DATABASE=postgres

# `openssl rand -base64 32`
AUTH_SECRET=
AUTH_URL=http://localhost:3000/api/auth